<nav>
  {% assign menu = 'entries.html, archives.html, stats.html, contact.html' | split: ', ' %}
  {% if page.filename == "index.html" %}
  <a href="/">index.html</a>
  {% else %}
  <a href="/">index.html</a>
  <span> / </span>
  <span>{{ page.filename }}</span>
  {% endif %}
  <span class="float-right hide-on-mobile">
    {% for page in menu %}
    <a href="/{{ page }}">{{ page }}</a>
    {% endfor %}
  </span>
  <span class="show-on-mobile">
    {% for page in menu %}
    <a href="/{{ page }}">{{ page }}</a>
    {% endfor %}
  </span>
</nav>
