---
title: "Projects"
description: "Stuff that I'm working on"
nav: 3
permalink: /projects.html
---

<div class="row">
  <div class="column">
    <h2>Live Programming</h2>
    <p>
      Tune in on late Saturday Mornings to watch me work on some code. I stream on
      YouTube and Facebook live.
    </p>
    <a href="https://youtube.com/playlist?list=PLhMFRzv8kTTCaaV27Si4arLhdw6nHsU-f">YouTube: live programming</a>
  </div>
  <div class="column">
    <figure>
      <a href="/images/projects-coding.png">
        <img alt="projects coding" src="/images/projects-coding.png"/>
      </a>
    </figure>
  </div>
</div>
<div class="row">
  <div class="column">
    <figure>
      <a href="/images/banners/2020-10-17.jpg">
        <img alt="look back on hockey" src="/images/banners/2020-10-17.jpg" />
      </a>
    </figure>
  </div>
  <div class="column">
    <h2>Look Back</h2>
    <p>
      Old stories and other nostalgia bombs from my past.
    </p>
    <ul>
      {% for entry in site.data.projects.look_back %}
      <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="column">
    <h2>Anti-Journal</h2>
    <p>
      Publishing entries from my pre-blog private journal which I've aptly nicknamed <em>The Anti-Journal</em>.
    </p>
    <ul>
      {% for entry in site.data.projects.anti_journal %}
      <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
    <div class="column">
    <h2>Homework Vault</h2>
    <p>
      To take a break from writing, I periodically share writing
      assignments from high school and college.
    </p>
    <ul>
      {% for entry in site.data.projects.homework_vault %}
      <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
    </div>
</div>
