{% extends "common/base.html" %}
{% block body %}
<div class="page-header">
    <h1>Blog <small>by Alex Recker</small></h1>
</div>
{% verbatim %}
<ul class="nav nav-pills" ng-controller="homeNavbarController">
  <li role="presentation" ng-class="{ active: isActive('/')}"><a href="#/">Latest</a></li>
  <li role="presentation" ng-class="{ active: isActive('/archives')}"><a href="#/archives">Archives</a></li>
  <li role="presentation" ng-class="{ active: isActive('/subscribe')}"><a href="#/subscribe">Subscribe</a></li>
</ul><br/>
<div ng-view></div>
{% endverbatim %}
{% endblock %}
{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'home/scripts/app.js' %}"></script>
{% endblock %}