language: python
python:
  - "2.6"
  - "2.7"
install:
  - "pip install -r requirements.txt"
  - "pip install coveralls"
script:
  - "coverage run test.py"
after_success:
  - "coveralls"
notifications:
  email: false
