beautifulsoup4==4.3.2
Django==1.8.2
django-appconf==1.0.1
django-bower==5.0.4
django-compressor==1.5
django-epiceditor==0.2.3
django-flat-theme==0.9.3
djangorestframework==3.1.2
gnureadline==6.3.3
gunicorn==19.3.0
ipython==3.1.0
Markdown==2.6.2
pluggy==0.3.0
py==1.4.28
psycopg2==2.6
PyRSS2Gen==1.1
six==1.9.0
tox==2.0.1
virtualenv==13.0.1
