CDApplet==1.0
CDBashApplet==1.0
command-not-found==0.3
defer==1.0.6
httplib2==0.8
language-selector==0.1
oauthlib==0.5.1
onboard==0.99.0
oneconf==0.3.5
piston-mini-client==0.7.5
pycrypto==2.6
pygobject==3.10.0
python-apt==0.8.9.1ubuntu1
pyxdg==0.25
screen-resolution-extra==0.0.0
software-center-aptd-plugins==0.0.0
ubuntu-drivers-common==0.0.0
ufw==0.33-0ubuntu4
unattended-upgrades==0.1
xkit==0.0.0
