Django==1.8.2
Markdown==2.6.2
argparse==1.2.1
beautifulsoup4==4.3.2
django-appconf==1.0.1
django-bower==5.0.4
django-compressor==1.5
django-epiceditor==0.2.3
django-flat-theme==0.9.3
djangorestframework==3.1.2
six==1.9.0
wsgiref==0.1.2
