h1, h2, h3, h4, h5, p, li, a {
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    font-family: 'Lucida Console', Monaco, monospace;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2
}

#org-div-home-and-up a:first-of-type {
    display: none;
}
