<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta: begin -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- meta: end -->

    <!-- assets: begin -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link href="/assets/site.css" rel="stylesheet" />
    <!-- assets: end -->

    <!-- title: begin -->
    <title><% title %> | <% description %></title>
    <!-- title: end -->

    <!-- twitter: begin -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@alex_recker" />
    <meta name="twitter:title" content="<% title %>" />
    <meta name="twitter:description" content="<% description %>" />
    <% if banner %>
    <meta name="twitter:image" content="https://www.alexrecker.com/images/banners/<% banner %>" />
    <% end %>
    <!-- twitter: end -->

    <!-- og: begin-->
    <meta property="og:url" content="/<% page %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<% title %>" />
    <meta property="og:description" content="<% description %>" />
    <% if banner %>
    <meta property="og:image" content="/images/banners/<% banner %>" />
    <% end %>
    <!-- og: end -->
  </head>
  <body>

    <!-- header: begin -->
    <header>
      <h1 class="title"><% title %></h1>
      <h2 class="subtitle"><% description %></h2>
    </header>
    <!-- header: end -->

    <hr/>

    <!-- nav: begin -->
    <nav>
      <a href="/">index.html</a>
      <span>/</span>
      <span><% page %></span>
      <br class="show-on-mobile" />
      <span class="float-right-on-desktop">
        <% nav.each do |page| %>
        <a href="/<% page %>"><% page %></a>
        <% end %>
      </span>
    </nav>
    <!-- nav: end -->

    <hr/>

    <!-- banner: begin -->
    <% if banner %>
    <figure>
      <a href="/images/banners/<% banner %>">
        <img alt="banner" src="/images/banners/<% banner %>" />
      </a>
    </figure>
    <% end %>
    <!-- banner: end -->

    <!-- content: begin -->
<% content %>
    <!-- conent: end -->

    <!-- Pagination -->
    <% if next || previous %>
    <nav class="clearfix">
      <% if next %>
      <a class="float-right" href="/<% next %>"><% next %> ⟶</a>
      <% end %>
      <% if previous %>
      <a class="float-left" href="/<% previous %>">⟵ <% previous %></a>
      <% end %>
    </nav>
    <% end %>

    <hr />

    <!-- footer: begin -->
    <footer>
      <small>Last Updated: 2021-06-18 04:35:32 +0000</small>
      <small>Last Change:<span>Less noisy timer (<a href="https://github.com/arecker/blog/commit/688a622605041f2dc1a20b0f2b64ea6ceb12db3d">688a6226</a>)</span></small>
      <small>&copy; Copyright <% year %> Alex Recker</small>
    </footer>
    <!-- footer: end -->

  </body>

<!--
 _____________________________________
< No scripts! Just enjoy the reading! >
 -------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
 -->

</html>
