<!-- Subscribe Modal -->
<div id="subscribeModal" class="modalDialog">
	<div ng-controller='SubscribeController'>
		<a href="#close" title="Close" class="close">x</a>
		<h2>Follow my Blog</h2>
		<p>{% verbatim %}{{ message }}{% endverbatim %}</p>
		<p>
			<form name="subscribeForm" ng-submit="submit()">
				<input ng-model='email' required name="email" type="email" placeholder='Email Address' />
				<input  ng-disabled="subscribeForm.$invalid" type="submit" id="submit" value="Submit" /> <br /> <br />
				<label>
					<input ng-model='fullText' type="checkbox" name="checkbox" value="value"> send me the full text of blog posts
				</label>
			</form>
		</p>
		<hr>
		<p>
			<small>RSS?  I do <a href="/feed/">that</a> too</small>
		</p>
	</div>
</div>
