{% extends "base.html" %}
{% block header %}
{% include 'header.html' with heading='subscribe' subheading='' static_image='img/beaker.jpg' %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>Subscribe by Email</h1>
        <p>
          I'll send you an email every time I do something new. Don't worry - you can unsubscribe at any time.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-lg-offset-2 col-md-5 col-md-offset-1">
      <form method="post" action="">
        <div class="form-group">
          {% csrf_token %}
          {% load bootstrap_tags %}
          {{ form | as_bootstrap }}
          <button type="submit" class="btn btn-success btn-xs">Go</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
