{% extends "common/base.html" %}
{% block body %}
<div ng-app="unsubscribe">
    <div class="page-header">
        <h1>Unsubscribe</h1>
        <p>Just click the big red button and I'll never bother you again.</p>
    </div>
    {% include "subscribing/ngUnsubscribe.html" %}
</div>
{% endblock %}
{% block scripts %}
<script>
    UNSUBSCRIBE_KEY = '{{ key }}';
</script>
{% load static %}
<script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/services.js' %}"></script>
<script type="text/javascript" src="{% static 'subscribing/scripts/app.js' %}"></script>
<script type="text/javascript" src="{% static 'subscribing/scripts/controller.js' %}"></script>
{% endblock %}
