<div id="topper" class="well">
    <div class="row">
        <div class="col-xs-1">
            <img id="portrait" src="/static/img/portrait.jpg"/>
        </div>
        <div class="col-xs-10">
            <h2 id="site-title">Blog by Alex Recker</h2>
            <div id="navcontainer">
                <ul id="navlist">
                    <li><a href="/" class="btn btn-primary"><i class="fa fa-fw fa-home"></i> Home</a></li>
                    <li><a class="btn btn-default" href="/archives"><i class="fa fa-fw fa-calendar"></i> Archives</a></li>
                    <li><a class="btn btn-default" href="/friends"><i class="fa fa-fw fa-group"></i> Friends</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>