body {
    max-width: 750px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Helvetica,
                 Arial, sans-serif, "Apple Color Emoji",
                 "Segoe UI Emoji", "Segoe UI Symbol";
}

header h2, p, ol, ul {
    font-size: 18px;
}

code, pre, .code {
    font-family: SFMono-Regular, Menlo, Monaco,
                 Consolas, "Liberation Mono",
                 "Courier New", monospace;
}

code, pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

header h1, header h2 {
    margin: 0;
}

blockquote, small, figcaption, header h2 {
    color: #6f7370;
}

figure {
    text-align: left;
}

figure img {
    width: 100%;
    height: auto;
    max-width: 625px;
    margin-right: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    max-width: 625px;
    margin-right: auto;
    display: block;
}

figure figcaption p {
    font-style: italic;
    line-height: 1.3;
    margin-top: 10px;
}

figure {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    max-width: 400px;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

td, nav span a {
    padding-right: 5px;
}

article nav {
    margin-bottom: 10px;
}

ul.unstyled {
    list-style: none;
    padding-left: 0px;
}

footer small::after {
    content:"\a";
    white-space: pre;
}

.show-on-mobile {
    display: none;
}

@media screen and (min-width: 600px) {
    .float-right-on-desktop {
        float: right;
    }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .hide-on-mobile {
      display: none;
  }

  .show-on-mobile {
      display: block;
  }
}
