body {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 800px;
    padding: 5px;
    margin: 10px auto 10px auto;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    line-height: 1.5;
}

figure {
    margin-left: 0;
}

figure img, video {
    max-height: 500px;
    max-width: 500px;
}

figure figcaption {
    font-style: italic;
    color: grey;
}

figure figcaption p {
    margin-top: 0;
}

td {
    padding-right: 5px;
}
