body {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    margin-bottom: 0;
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

header p {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    line-height: 1.5;
}

figure {
    margin-left: 0;
}

figure img, video {
    max-height: 500px;
    max-width: 500px;
}

figure figcaption {
    font-style: italic;
    color: grey;
}

figure figcaption p {
    margin-top: 0;
}

td {
    padding-right: 10px;
}

@media only screen and (max-width: 500px) {
    figure img, video {
        max-width: 100%;
    }
}
