<div class="ui two column stackable grid">
  {%- for post in site.posts -%}
  {%- capture this_month -%}{{ post.date | date: '%B %Y' }}{%- endcapture -%}
  {%- capture next_month -%}{{ post.previous.date | date: '%B %Y' }}{%- endcapture -%}
  {%- if forloop.first -%}
  <div class="center aligned column">
    <h3 class="ui large header">{{ this_month }}</h3>
    <div class="ui middle aligned large link list">
      {%- endif -%}
      <a class="item" href="{{ post.url }}">{{ post.title }}</a>
      {%- if this_month != next_month -%}
    </div>
  </div>
  <div class="center aligned column">
    <h3 class="ui large header">{{ next_month }}</h3>
    <div class="ui middle aligned large link list">
      {%- endif -%}
      {%- if forloop.last -%}
    </div>
  </div>
  {%- endif -%}
  {%- endfor -%}
</div>
