{% capture title %}
{% if page.date %}
{{ page.date | date: "%A, %B %-d %Y" }}
{% else %}
{{ page.title }}
{% endif %}
{% endcapture %}

{% capture subtitle %}
{% if page.date %}
{{ page.title }}
{% else %}
{{ page.description }}
{% endif %}
{% endcapture %}
<meta charset="UTF-8" />
<title>{{ title }} | {{ subtitle }}</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@alex_recker" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ subtitle }}" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ subtitle }}" />
{% if page.banner %}
<meta
  name="twitter:image"
  content="https://www.alexrecker.com/images/banners/{{ page.banner }}"
/>
<meta property="og:image" content="/images/banners/{{ page.banner }}" />
{% endif %}
<link href="/assets/site.css" rel="stylesheet" />
