<nav>
  <a href="{{ site.baseurl }}/" class="{% if page.active == 'index' %}active{% endif %}">index</a>
  <a href="{% link archive.html %}" class="{% if page.active == 'archive' %}active{% endif %}">archive</a>
  <a href="{% link stats.md %}" class="{% if page.active == 'stats' %}active{% endif %}">stats</a>
  <a href="{% link projects.md %}" class="{% if page.active == 'projects' %}active{% endif %}">projects</a>
  <a href="{% link contact.md %}" class="{% if page.active == 'contact' %}active{% endif %}">contact</a>
  <span class="float-right hide-on-mobile">{{ page.slug }}</span>
</nav> 
