<nav>
  {% if page.path == "index.html" %}
  <a href="{{ site.base_url }}/">index.html</a>
  {% else %}
  <a href="{{ site.base_url }}/">index.html</a>
  <span> / </span>
  <span>{{ page.slug }}</span>
  {% endif %}
  <span class="float-right hide-on-mobile">
    {% for page in site.recker.menu %}
    <a href="{{ site.base_url }}/{{ page }}">{{ page }}</a>
    {% endfor %}
  </span>
  <span class="show-on-mobile">
    {% for page in site.recker.menu %}
    <a href="{{ site.base_url }}/{{ page }}">{{ page }}</a>
    {% endfor %}
  </span>
</nav>
