<div class="ui two statistics">
  <div class="ui statistic">
    <div class="value">
      {{ site.data.stats.words.total }}
    </div>
    <div class="label">
      Total Words
    </div>
  </div>
  <div class="ui statistic">
    <div class="value">
      {{ site.data.stats.words.average }}
    </div>
    <div class="label">
      Ave. Words per post
    </div>
  </div>
  <div class="ui statistic">
    <div class="value">
      {{ site.data.stats.posts }}
    </div>
    <div class="label">
      Posts
    </div>
  </div>
  <div class="ui statistic">
    <div class="value">
      {{ site.data.stats.days.days }}
    </div>
    <div class="label">
      Consecutive Days
    </div>
  </div>
</div>
