* {
    font-family: 'Vollkorn' !important;
}

.fa {
    font-family: 'FontAwesome' !important;
}

p {
    margin-bottom: 2em;
    font-size: 18px;
}

.page-header, .nav {
    margin-bottom: 2em;
}

.main  {
    max-width: 650px;
    margin-top: 3em;
    margin-bottom: 3em;
}

figure img {
    display: block;
    height: auto;
    margin: 2em auto 1em;
    max-width: 100%;
}

figcaption {
    font-size: 90%;
    font-style: italic;
    margin: 0 auto 2em;
    max-width: 80%;
    text-align: center;
}