#portrait {
   height: 80px;
   width: 80px;
   margin: 20px;
   overflow: hidden;
     
   -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
       border-radius: 50%;
}

#site-title {
	color: black;
	font-weight: bold;
	margin-right: 10px;
}

#site-page-title {
	color: grey;
	font-weight: bold;
	font-style: regular;
}

#navbar, #content {
	margin: 40px;
}

#content { margin-left: 100px;}

#navbar .nav .btn {
	margin-top: 40px;
	margin-right: 0px;
	padding: 0px;
}

@media screen and (max-width: 700px) {
  .hide-mobile {
    display: none !important;
  }

  #navbar { width: 100% !important; margin: 0px !important;}
  #content { width: 100% !important; margin: 0px !important;}
}