/****** Globals *****/

/* Removes frame from thumbnails */
.thumbnail {
    border: 0 none;
    box-shadow: none;
}

/* Removes underline from links */
a:hover {
	text-decoration: none;
}

/* Fluid Container Sizes */
.post-title-body, .post-body, .thumbnail-body, .friends-body, .comments-body, .headlines-body, .projects-body {
	max-width: 60%;
	margin-top: 5px;
	margin-bottom: 50px;
}

.section-heading {
    max-width: 60%;
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
}

/*********************/


/****** NAVBAR ******/
.circular {
	width: 80px;
	height: 80px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/static/img/portrait-thumb.jpg) no-repeat;
	margin-top: 0px;
}

.navbar {
	border: 0 none;
}

.navbar-body {
	height: 81px !important;
}

.navbar-toggle {
	margin-top: 15px;
}

.nav li, .navbar-brand {
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 0px;
	border: 0;
}

.navbar-brand {
	margin-top: 15px;
}

.navbar-brand h1 {
	margin: 0;
}

.brand-image {
	margin-top: 0px;
}

/********************/


/**** HEADLINES *****/
.headlines-body {
	margin-top: 10px;
}

.headlines-body .thumbnail {
	margin-right: 10px;
	margin-left: 10px;
}
/*********************/

/***** FRIENDS *******/
.friends-body .row div {
    margin-bottom: 10px;
}

/********** Responsiveness **********/
.show-mobile {
	display: none !important;
}

@media screen and (max-width: 750px) {
	.show-mobile {
		display: inline !important;
	}

	.nav li a {
		padding: 0;
	}

	/* Moves Thumbnail body closer to top */
	.post-title-body, .post-body {
		margin-top: 10px;
		max-width: 95%;
	}

	/* Adjusts width of fluid containers */
	.container-fluid {
		max-width: 100%;
		margin-top: 0;
	}

	.thumbnail-body {
		max-width: 90%;
	}

	/*Navbar height can be fluid*/
	.navbar-body {
		height: auto !important;
	}
}

@media screen and (max-width: 1050px) {
	.navbar-brand {
		display: none;
	}
}