<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
  <input ng-model="filterText" ng-keyup="filterType()" type="text" class="form-control" aria-describedby="basic-addon1">
</div><br/>
<div infinite-scroll="nextPage()" infinite-scroll-distance="100" infinite-scroll-disabled="stopScrolling">
  <dl ng-repeat="post in posts | filter: filterText">
    <dt><a ng-href="/{{ post.slug }}">{{ post.title }}</a></dt>
    <dd>{{ post.description }}</dd>
    <dd><em>{{ post.date | date: 'MMMM d, yyyy'}}</em></dd>
  </dl>
</div>
