<div class="row">
  <div ng-repeat="project in projects" class="col-sm-6 col-md-4">
    <a ng-href="{{ project.url }}">
      <img width="200px" class="thumbnail" alt="{{ project.name }}" ng-src="{{ project.image }}" />
    </a>
    <div class="caption">
      <h1 class="lead">{{ project.name }}</h1>
      <p>
        <em>{{ project.description }}</em>
      </p>
      <p ng-if="project.repo">
        <a class="btn btn-sm btn-warning" ng-href="{{ project.repo }}" role="button">
          <i class="fa fa-code-fork"></i> Source
        </a>
      </p>
    </div>
  </div>
</div>
