.circular {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(./portrait.jpg) no-repeat;
}

.post-title-body, .post-body {
	max-width: 60%;
	margin-top: 20px;
}

.post-title-body {
	text-align: center;
}

.page-header {
	margin-top: 10px;
}

.post-body p {
	margin-bottom: 50px;
	color: #4C4C4C;
}

.post-body h1 {
	font-size: 18px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    text-align: center;
}

.navbar {
	border: none;
}

.navbar-toggle {
	margin-top: 15px;
}

.nav li form button {
	margin-right: 10px;
	margin-top: 25px;
}

.caption {
	text-align: center;
}

.thumbnail * {
	float: none !important;
}

.show-mobile {
	display: none !important;
}

/********** Mobile **********/
@media screen and (max-width: 750px) {
	/* Mobile Toggle */
	.hide-mobile {
		display: none !important;
	}

	.show-mobile {
		display: inline !important;
	}

	/* Moves Thumbnail body closer to top */
	.post-title-body, .post-body {
		margin-top: 10px;
		max-width: 95%;
	}
}