{% extends "base.html" %}{% load static %}
{% block header %}
{% include 'header.html' with heading='blog' subheading='by Alex Recker' %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
      <h1 class="text-center">Welcome!</h1>
      <p class="text-center">
        Thanks for checking out my blog.  You should stick around and read some things.  If you like what
        you see, be sure to <a href="#">subscribe</a> to updates so you can get them as soon as possible.
      </p>
      <p>
        Thanks for visiting.  Make yourself at home!
      </p>
      <img class="img-circle" alt="portrait" src="{% static 'img/portrait.jpg' %}"/>
      <hr/>
    </div>
  </div>
</div>
{% include "writing/post_page.html" with posts=posts %}
{% endblock %}
