<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for post in posts %}
      <div class="post-preview">
        <a href="{{ post.get_absolute_url }}">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ post.description }}
          </h3>
        </a>
        <p class="post-meta">{{ post.date | date }}</p>
      </div>
      <hr>
      {% endfor %}
      {% if pager %}
      <hr>
      <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
          <a href="{% url 'post-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="next">
          <a href="{% url 'post-list' %}?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
