{% extends "base.html" %}
{% block meta_title %}
<title>Archives | Blog by Alex Recker</title>
{% endblock %}
{% block header %}
{% include 'header.html' with heading='archives' subheading='' static_image='img/library.jpg' %}
{% endblock %}
{% block content %}
{% if object_list %}
{% include 'writing/post_page.html' with posts=object_list pager=page_obj %}
{% else %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="page-header text-center">
        <h1>(nothing here right now)</h1>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
