{% extends "base.html" %}
{% block header %}
{% include 'header.html' with heading=object.title subheading=object.description date=object.date post=True image=object.cover_image %}
{% endblock %}
{% block content %}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% autoescape off %}
        {{ object.body_html }}
        {% endautoescape %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
{% block footer %}
{% include "footer.html" with comments=1 %}
{% endblock %}
