{% extends "base.html" %}
{% block meta %}
<title>{{ object.title }} | Blog by Alex Recker</title>
<meta property="og:title" content="{{ object.title }} | Blog by Alex Recker" />
<meta name="description" content="{{ object.description }}" />
<meta property="og:description" content="{{ object.description }}" />
<meta property="og:image" content="{{ object.meta_image }}" />
<meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ object.get_absolute_url }}/" />
{% endblock %}
{% block header %}
{% include 'header.html' with heading=object.title subheading=object.description date=object.date post=True image=object.cover_image %}
{% endblock %}
{% block content %}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% autoescape off %}
        {{ object.body_html }}
        {% endautoescape %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
{% block footer %}
{% include "footer.html" with comments=1 %}
{% endblock %}
