{% extends 'common/base.html' %}
{% block body %}
<div class="main container-fluid">
    <div class="jumbotron text-center">
        <img src="http://media.alexrecker.com/images/portrait.jpg" alt="Blog by Alex Recker" class="img-circle">
        <h1>Blog <small>by Alex Recker</small></h1>
    </div>
    <div class="page-header">
        <h1>{{ data.latest.title }} <small>{{ data.latest.date | date:'F j, Y' }}</small></h1>
    </div>

    <div class="media">
        <a class="media-left" href="/{{ data.latest.slug }}/">
            <img src="{{ data.latest.image_url }}" alt="{{ data.latest.title }}" height="120">
        </a>
        <div class="media-body">
            <p>{{ data.latest.description }}</p>
        </div>
    </div>

    <div class="page-header">
        <h1>Archives</h1>
    </div>

    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-search"></i>
        </span>
        <input id="filter" class="form-control" type="text" placeholder="Filter" onkeyup="Filter(this)" size="10" />
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
            {% for post in data.posts %}
                <a href="/{{ post.slug }}/">{{ post.title }}</a><span> | </span>
            {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}