{% extends 'common/base.html' %}
{% block body %}
<body ng-app="Blog">
    <!-- Top Banner -->
    <img src="http://media.giphy.com/media/poiOz3yYCThiU/giphy.gif" height="50px" style="float: right" alt="America" />
    <h1 class="huge">Blog by Alex Recker</h1>
    <hr style="clear: both" />

    <!-- Latest Post -->
    <figure>
        <a href="/{{ data.latest.slug }}/">
            <img style="float: left" width="240px" src="{{ data.latest.image_url }}" alt="{{ data.latest.title }}">
        </a>
    </figure>
    <p>
        <a href="/{{ data.latest.slug }}/"><h1>{{ data.latest.title }}</h1></a>
        <p>{{ data.latest.date | date:'F j, Y' }}</p>
        <p>{{ data.latest.description }}</p>
    </p>
    <br style="clear: both" />

    <!-- Subscribe -->
    <hr />
        <p>Want to <a href="#subscribeModal">subscribe</a> to this garbage?</p>
    <hr />

<!--     Archives
<h1>Archives</h1>
TODO: Not working yet
<input style="width: 100%" type="text" placeholder="Filter" />
<p>
    {% for post in data.posts %}
    <a href="/{{ post.slug }}/">{{ post.title }}</a>
    {% endfor %}
</p> -->
    {% include "blogging/archives.html" %}
    {% include "subscribing/subscribeModal.html" %}
</body>
{% endblock %}