<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }} | {{ page.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ config.twitter_handle }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.description }}" />
    {% if page.banner %}
    <meta name="twitter:image" content="{{ config.url }}/images/banners/{{ page.banner }}"/>
    <meta property="og:image" content="/images/banners/{{ page.banner }}"/>
    {% endif %}
    <link href="{% asset site.css %}" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1 class="title">{{ page.title }}</h1>
      <h2 class="subtitle">{{ page.description }}</h2>
    </header>
    <hr/>
    <nav>
      {% assign menu = 'entries.html, archives.html, stats.html, contact.html' | split: ', ' %}
      {% if page.filename == "index.html" %}
      <a href="/">index.html</a>
      {% else %}
      <a href="/">index.html</a>
      <span> / </span>
      <span>{{ page.filename }}</span>
      {% endif %}
      <span class="float-right hide-on-mobile">
	{% for page in menu %}
	<a href="/{{ page }}">{{ page }}</a>
	{% endfor %}
      </span>
      <span class="show-on-mobile">
	{% for page in menu %}
	<a href="/{{ page }}">{{ page }}</a>
	{% endfor %}
      </span>
    </nav>
    <hr/>
    {% if page.banner %}
    <figure>
      <a href="/images/banners/{{ page.banner }}">
	<img alt="banner" src="/images/banners/{{ page.banner }}"/>
      </a>
    </figure>
    {% endif %}
    {{ content }}
    {% if page.next or page.previous %}
    <nav class="clearfix">
      {% if page.previous %}
      <a href="{{ page.previous.permalink }}">
	⟵ {{ page.previous.filename }}
      </a>
      {% endif %}
      {% if page.next %}
      <a class="float-right" href="{{ page.next.permalink }}">
	{{ page.next.filename }} ⟶
      </a>
      {% endif %}
    </nav>
    {% endif %}
    <hr/>
    <footer>
      <small>Last Updated: {{ last_updated }}</small>
      <small>
	Powered by <a href="https://github.com/arecker/blog">{% nickname %}</a> (<a class="code" href="https://github.com/arecker/blog/commit/{{ git.HEAD }}">{{ git.shorthead }}</a>)
      </small>
      <small>&copy; Copyright {{ year }} {{ config.author }}</small>
    </footer>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42540208-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-42540208-6');
    </script>
  </body>
</html>
