<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="p:domain_verify" content="f2061b7690f2b29e747e773700e89268"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog by Alex Recker</title>
    {% block meta_title %}<title>Blog by Alex Recker</title>{% endblock %}
	{% block meta_og_title %}<meta property="og:title" content="Blog by Alex Recker" />{% endblock %}
	{% block meta_description %}<meta name="description" content="Hi - I'm Alex.  I like writing words." />{% endblock %}
	{% block meta_og_description %}<meta property="og:description" content="Hi - I'm Alex.  I like writing words." />{% endblock %}
	{% block meta_og_image %}<meta property="og:image" content="http://media.alexrecker.com/images/portrait.jpg" />{% endblock %}
	{% block meta_og_url %}<meta property="og:url" content="http://alexrecker.com/" />{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>