<!DOCTYPE html>
<html>{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <meta name="p:domain_verify" content="f2061b7690f2b29e747e773700e89268"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/gif" href="http://media.alexrecker.com/images/bro-favicon.gif"/>
    {% block meta_title %}<title>Blog by Alex Recker</title>{% endblock %}
	{% block meta_og_title %}<meta property="og:title" content="Blog by Alex Recker" />{% endblock %}
	{% block meta_description %}<meta name="description" content="Hi - I'm Alex.  I like writing words." />{% endblock %}
	{% block meta_og_description %}<meta property="og:description" content="Hi - I'm Alex.  I like writing words." />{% endblock %}
	{% block meta_og_image %}<meta property="og:image" content="http://media.alexrecker.com/images/portrait.jpg" />{% endblock %}
	{% block meta_og_url %}<meta property="og:url" content="http://alexrecker.com/" />{% endblock %}
    <link rel="stylesheet" type="text/css" href='{% static "css/site.css" %}' />
</head>
{% block body %}
{% endblock %}
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js'></script>
<script type="text/javascript" src="{% static "js/site.js" %}"></script>
<script type="text/javascript">
// Deferred Scripts
var AppendScripts = function(){
    var paths = [
        '{% static "js/analytics.js" %}'
    ];
    for (var i=0 ; i<paths.length ; i++){
        var element = document.createElement('script');
        element.src = paths[i];
        document.body.appendChild(element);
    };
};
if (window.addEventListener){
    window.addEventListener("load", AppendScripts, false);
} else if (window.attachEvent){
    window.attachEvent("onload", AppendScripts);
} else {
    window.onload = AppendScripts;
};
</script>
{% block scripts %}
{% endblock %}
</body>
</html>