<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta: begin -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- meta: end -->

    <!-- assets: begin -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link href="/assets/site.css" rel="stylesheet" />
    <!-- assets: end -->

    <!-- title: begin -->
    <title>${title} | ${description}</title>
    <!-- title: end -->

    <!-- twitter: begin -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="${twitter_handle}" />
    <meta name="twitter:title" content="${title}" />
    <meta name="twitter:description" content="${description}" />
    <meta name="twitter:image" content="${banner_full_url}" />
    <!-- twitter: end -->

    <!-- og: begin-->
    <meta property="og:url" content="/${permalink}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="${title}" />
    <meta property="og:description" content="${description}" />
    <meta property="og:image" content="${banner_relative_url}" />
    <!-- og: end -->
  </head>
  <body>

${partial_header}

    <hr/>

    <nav>

${partial_breadcrumbs}

      <br class="show-on-mobile" />
      <span class="float-right-on-desktop">

${partial_nav}

      </span>
    </nav>

    <hr/>

${partial_banner}

    <!-- content: begin -->
${content}
    <!-- conent: end -->

    <%- if page_previous || page_next -%>
    <!-- pagination: begin -->
    <nav class="clearfix">
      <%- if page_next -%>
      <a class="float-right" href="/<%= page_next %>"><%= page_next %> ⟶</a>
      <%- end -%>
      <%- if page_previous -%>
      <a class="float-left" href="/<%= page_previous %>">⟵ <%= page_previous %></a>
      <%- end -%>
    </nav>
    <!-- pagination: end -->
    <%- end -%>

    <hr />

${partial_footer}

  </body>

<!--
 _____________________________________
< No scripts! Just enjoy the reading! >
 -------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
 -->

</html>
