 .main {
	max-width: 600px;
	margin-top: 3em;
	margin-bottom: 3em;
}

.fancy { font-family: 'Droid Serif', serif !important;}

.latest img { width: 100%;}


/* That fancy HR thing*/		
hr.fancy {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

hr.fancy:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

 /* Images */
.image img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Captions */
figcaption {
    font-style: italic;
    font-size: 90%;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: center;
}

/* Post Page */
.post-body h1, .post-body h2, .post-body h3, .post-body h4,
.post-body p, .post-body li { 
    font-family: 'Droid Serif', serif !important; 
}

.post-body h1 { font-size: 200%; margin-top: 2em;}
.post-body h2 { font-size: 180%;}
.post-body h2 { font-size: 150%;}
.post-body p { 
    font-size: 13pt;
    text-align: justify;
}

/* Subscribe Modal */
#subscribeMessage {
    font-size: 13px;
}

#canvas {
    position: fixed;
    width: 100%;
    height:100vh;
    z-index: -1;
}