<!-- meta:title Entries -->
<!-- meta:description complete archive of journal entries -->

{%- set caption %}
  <p>From <a href="{{ random.filename }}">{{ random.description }}</a>
{%- endset %}
{%- with href="./" + random.filename, src="./images/banners/" + random.banner, caption=caption %}
{%- include "figure.html.j2" %}
{%- endwith %}

<hr/>

<table>
  {% for entry in entries %}
    <tr>
      <td>
        <a href="./{{ entry.filename }}">{{ entry.filename }}</a>
      </td>
      <td>{{ entry.description }}</td>
    </tr>
  {% endfor %}
</table>
