<!-- meta:title Entries -->
<!-- meta:subtitle archive of journal entries -->

<table>
  {%- for entry in entries %}
  <tr>
    <td><a href="./{{ entry.filename }}">{{ entry.filename }}</a></td>
    <td>{{ entry.subtitle }}</td>
  </tr>
  {%- endfor %}
</table>
