<!-- meta:title Games -->
<!-- meta:description play games that I have made  -->

<p><em>To play, click the thumbnail, then click on the screen.  Unless otherwise noted, you can use WASD to move and the mouse to look around.  Press the ESC key to get your mouse back.</em></p>

<h2>Hallway</h2>

<figure>
  <a href="#">
    <img alt="hallway" src="./images/2025-04-16-game-hallway.png" />
  </a>
</figure>

<p>It's not the smoothest gameplay, but being my first game, I was just thrilled to get the damn thing to work.  I must have spent at least an hour trying to keep the player from falling through the floor, which was quite the opposite of the tranquil experience I was going for.  There's not much else to this game.  I was just learning the basics, and in the process I wanted to see if I could make a virtual space that made me happy.  A serene hallway with some big windows looking out into an endless artificial heaven with a few pictures from our Ireland trip hastily pasted to the walls.</p>

<h2>Beach</h2>

<figure>
  <a href="#">
    <img alt="hallway" src="./images/2025-04-16-game-beach.png" />
  </a>
</figure>

<p>Does this one feel a little smoother?  I studied up on ways to make the player movements feel more natural.  Fine tuned sensitivity, a subtle headbob when you move, and FOOTSTEPS.  What a difference sound makes to giving the player a sense of comfort.  The free wave audio I found is so good, it almost makes you forget that there isn't any water in sight.  I also added a seagull.  On a random interval, this invisible bird will pick a spot above your head and play a hidden audio track to make you feel like he is circling freely in the sky.  Also, there is a hidden message in this game - were you able to find it?</p>
