<!-- meta:title Games -->
<!-- meta:description play games that I have made  -->

<h2>Instructions</h2>
<ul>
  <li>Click the image thumbnail to navigate to the <a href="https://arecker.itch.io/">itch.io</a> mirror.</li>
  <li>Download the correct package for your operating system.</li>
  <li>Open the zip and run the program in place.</li>
  <li>For mac, you may have to navigate to System Settings -> Privacy & Security and click "open anyway" at the bottom</li>
</ul>

<hr/>

{% for game in games %}
<!-- begin game: {{ game.slug }} -->
<h2>{{ game.title }}</h2>
<figure>
  <a href="{{ game.url }}">
    <img alt="{{ game.image.href }}" src="{{ game.image.href }}" />
  </a>
</figure>
<p>{{ game.description }}</p>
<!-- end game: {{ game.slug }} -->
{% endfor %}
