<h2>Latest Entry</h2>

{{ latest | embed }}

<h2>Site Data</h2>

<table>
  <tr>
    <td>Number of entries</td>
    <td>{{ entries | length }}</td>
  </tr>
  <tr>
    <td>Number of images</td>
    <td>{{ images | length }}</td>
  </tr>
</table>

<h2>All Entries</h2>

<table>
  {% for entry in entries %}
    <tr>
      <td>
        <a href="./{{ entry.filename }}">{{ entry.filename }}</a>
      </td>
      <td>{{ entry.description }}</td>
    </tr>
  {% endfor %}
</table>
