<h2>Latest Entry</h2>
<figure>
  <a href="./{{ latest.filename }}">
    <img alt="latest entry banner" src="./images/banners/{{ latest.banner }}" />
  </a>
  <figcaption>
    <p>{{ latest.description }}</p>
  </figcaption>
</figure>

<h2>Pages</h2>
<table>
  {%- for page in pages %}
    {%- if page.filename != "index.html" %}
      <tr>
        <td>
          <a href="./{{ page.filename }}">{{ page.filename }}</a>
        </td>
        <td>{{ page.description }}</td>
      </tr>
    {%- endif %}
  {%- endfor %}
</table>


<h2>Other Links</h2>
<table>
  <tr>
    <td>
      <a href="https://cookbook.reckerfamily.com">https://cookbook.reckerfamily.com</a>
    </td>
    <td>official Recker family cookbook</td>
  </tr>
  <tr>
    <td>
      <a href="https://www.astuaryart.com">https://www.astuaryart.com</a>
    </td>
    <td>art by my wife Marissa</td>
  </tr>
  <tr>
    <td>
      <a href="https://www.bobrosssearch.com/">https://www.bobrosssearch.com/</a>
    </td>
    <td>cozy homepage with search bar and quotes by Bob Ross</td>
  </tr>
</table>
