<!-- meta:title Napkins -->
<!-- meta:description gallery of napkin art -->

{%- for image in images %}
  {%- if image.napkin %}
    {%- with href=image.src, src=image.src, alt=image.alt %}
      {%- include "figure.html.j2" %}
    {%- endwith %}
  {%- endif %}
{%- endfor %}
