<!-- meta:title Napkins -->
<!-- meta:description gallery of napkin doodles -->

{% for group in find_napkins(images) %}
<div class="row">
  {% for napkin in group %}
  <div class="column">
    <figure class="small">
      <a href="./{{ napkin.href }}">
        <img alt="{{ napkin.title }}" src="{{ napkin.href }}" />
      </a>
      <figcaption>
        <p>
          {{ napkin.title.replace(' Napkin', '') }} ({{ napkin.date.year }})
        </p>
        {% if napkin.entry %}
        <p>
          From <a href="./{{ napkin.entry.filename }}">{{ napkin.entry.description }}</a>
        </p>
        {% endif %}
      </figcaption>
    </figure>
  </div>
  {% endfor %}
</div>
<hr/>
{% endfor %}
