<!-- meta:title Spiders -->
<!-- meta:description directory of spiders I have cared for -->

<h2>Stats</h2>
<p>Note: actual ages of spiders may vary.  These stats are relative to time spent under my care.</p>
<table>
  <tr>
    <td>Total Acquired</td>
    <td>{{ spiders | length }}</td>
  </tr>
  <tr>
    <td>Total Living</td>
    <td>{{ spider_stats.count_living }}</td>
  </tr>
  <tr>
    <td>Total Deceased</td>
    <td>{{ spider_stats.count_deceased }}</td>
  </tr>
  <tr>
    <td>Oldest Living</td>
    <td>{{ spider_stats.oldest_living }}</td>
  </tr>
  <tr>
    <td>Youngest Living</td>
    <td>{{ spider_stats.youngest_living }}</td>
  </tr>
  <tr>
    <td>Oldest Deceased</td>
    <td>{{ spider_stats.oldest_deceased }}</td>
  </tr>
  <tr>
    <td>Youngest Deceased</td>
    <td>{{ spider_stats.youngest_deceased }}</td>
  </tr>
</table>

<h2>Directory</h2>

{% for spider in spiders %}
<figure>
  <a href="{{ spider.image.href }}">
    <img
      alt="{{ spider.personal }} image"
      src="{{ spider.image.href }}"
      />
  </a>
</figure>
<h2>{{ spider.personal }}</h2>
<table>
  <tr>
    <td>Scientific Name: </td>
    <td><em>{{ spider.scientific }}</em></td>
  </tr>
  <tr>
    <td>Common Name: </td>
    <td>{{ spider.common }}</td>
  </tr>
  <tr>
    <td>Endemic Region: </td>
    <td>{{ spider.endemic }}</td>
  </tr>
  <tr>
    <td>Acquired: </td>
    <td>{{ spider.acquired.strftime('%B %d, %Y') }}</td>
  </tr>
  {% if spider.deceased %}
  <tr>
    <td>Deceased: </td>
    <td>{{ spider.deceased.strftime('%B %d, %Y') }}</td>
  </tr>
  {% endif %}
</table>
<hr/>
{% endfor %}
