<!-- meta:title Stats -->
<!-- meta:description writing and website statistics -->

<dl>
  <dt>Total number of entries</dt>
  <dd>{{ entries | count }}</dd>

  <dt>Total number of images</dt>
  <dd>{{ images | count }}</dd>
</dl>
