{% extends "base.html" %}

{% block meta_title %}
<title>Archives | Blog by Alex Recker</title>
{% endblock %}

{% block body %}
	<!-- Heading -->
	<div class="container-fluid">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">Here's everything I've written so far.</h4>
				<p><em>Miles and miles of typo-ridden content for your endless enjoyment</em></p>
			</div>
		</div><hr>
	</div>

	<!-- Archives List -->
	<div class="container-fluid">
		<!-- Search -->
		<div class="container-fluid">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                <input id="filter" class="form-control" type="text" placeholder="Filter" onkeyup="filter(this)" />
            </div>
        </div>

		<table class="table-responsive">
			<tr>
				{% for post_row in collection | batch(2) %}
				{% for post in post_row %}
				<td>
					<h3><a href="/{{ post.link }}">{{ post.title }}</a></h3>
					<p>{{ post.description }}</p>
					<p><small>{{ post.date }}</small></p>
				</td>
				{% endfor %}
			</tr><tr>
				{% endfor %}
		</table>
	</div>
{% endblock %}

{% block footer %}
	<script type="text/javascript" src="/static/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/filter.js"></script>
{% endblock %}
