{% extends "base.html" %}

{% block meta_title %}
<title>Archives | Blog by Alex Recker</title>
{% endblock %}

{% block body %}
	<!-- Heading -->
	<div class="container-fluid section-heading">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">Here's everything I've written so far.</h4>
				<p><em>Miles and miles of typo-ridden content for your endless enjoyment</em></p>
			</div>
		</div><hr>
	</div>

	<!-- Archives List -->
	<div class="container-fluid thumbnail-body">
		<!-- Search -->
		<div class="container-fluid">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                <input id="filter" class="form-control" type="text" placeholder="Filter" onkeyup="filter(this)" />
            </div>
        </div>
		<div class="row">
			{% for archive in ArchivesPage.archives %}
			<div class="col-md-6">
				<div class="media">
		  			<div class="media-body">
		    			<h3 class="media-heading"><a href="/{{ archive.link }}">{{ archive.title }}</a></h3>
		    			<p>{{archive.description}}</p>
		    			<p><small>{{ archive.date }}</small></p>
		  			</div>
				</div>	
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block footer %}
	<script type="text/javascript" src="/static/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/analytics.js"></script>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    <script type="text/javascript" src="/static/js/filter.js"></script>
{% endblock %}