<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ post.Meta_title}}</title>
    <meta name="description" content="{{ post.Meta_description }}">
    <link rel="canonical" href="{{ post.Meta_canonical }}">
    {% block stylesheets %}
    <link rel="stylesheet" href="/static/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/libs/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/site.css" />
    {% endblock %}
</head>

<body>
    <div class="container-fluid page-header hide-mobile">
        <h2 id="banner-title">Blog by Alex Recker</h2>
    </div>
    <div id="navbar" class="container-fluid">
        <div class="row-fluid">
            {% block navbar %}
            <ul class="nav nav-pills">
                <li><img id="portrait" src="/static/img/portrait.jpg" alt=""/></li>
                <li id="home-button" class="btn"><a href="/"><i class="fa fa-fw fa-home"></i> <span class="hide-mobile">Home</span></a></li>
                <li id="archives-button" class="btn"><a href="/archives/"><i class="fa fa-fw fa-calendar"></i> <span class="hide-mobile">Archives</span></a></li>
                <li id="projects-button" class="btn"><a href="/projects/"><i class="fa fa-fw fa-code"></i> <span class="hide-mobile">Projects</span></a></li>
                <li id="friends-button" class="btn"><a href="/friends/"><i class="fa fa-fw fa-group"></i> <span class="hide-mobile">Friends</span></a></li>
            </ul>
            {% endblock %}
        </div>
    </div>

    <div id="content" class="container-fluid">
        <div class="container-fluid"><h1 id="post-title">{{ post.Title }}</h1></div>
        <div class="container-fluid">{% autoescape off %}<div id="post-body">{{ post.Body }}</div>{% endautoescape %}</div>
        <div id="post-footer">{% block post-footer %}{% endblock %}</div>
    </div>
</body>

<footer>
    {% block scripts %}
    <script type="text/javascript" src="/static/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    {% endblock %}
</footer>
</html>
