<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block meta_title %}<title>Blog</title>{% endblock %}
	<link rel="icon" type="image/gif" href="http://media.alexrecker.com/images/bro-favicon.gif">
	<link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
	<div class="container-fluid main">
		{% block main %}
		{% endblock %}
	</div>
</body>