<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ data.post.title }} | Blog by Alex Recker</title>
	<style>
		#mainImage { width: 500px;}
		.footer	a em{ font-size: 12px; }
	</style>
</head>
<body>
	<div class="main-container">
		<img id="mainImage" src="{{ data.post.image }}" alt="{{ data.post.title }}" />
		<h1>{{ data.post.title }} | Blog by Alex Recker</h1>
		<p><em>{{ data.post.date_pretty }}</em></p>
		<p>
			{{ data.post.description }}
		</p>
		<p>
			<a href="http://alexrecker.com/{{ data.post.link }}/"><em>Read</em></a>
		</p>
		<hr />
		{% if data.full_text %}
		<p>
			{{ data.post.body }}
		</p>
		<hr />
		{% endif %}
	</div>
	<div class="footer">
		<a href="http://api.alexrecker.com/email/subscriber/delete?unsubscribe={{ data.unsubscribe_key }}"><em>Unsubscribe from this Garbage</em></a>
	</div>
</body>
</html>