<footer>
  <div class="container">
    <div class="row">
      {% if comments %}
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
         var disqus_shortname = 'alexrecker';
         /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
      </div>
      {% endif %}
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <br/>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Blog Post -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7255447933410555"
             data-ad-slot="7489895229"
             data-ad-format="auto"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <br/>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="{% url 'feed' %}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/alex_recker">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="http://github.com/arecker/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
            </div>
    </div>
  </div>
</footer>
