{% extends "base.html" %}

{% block meta_title %}
<title>Friends | Blog by Alex Recker</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="This is my prestigious list of Internet buddies.  Make sure you check them out.">
{% endblock %}

{% block body %}
	<!-- Heading -->
	<div class="container-fluid">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">Here are some people I like</h4>
				<p><em>Like to join my prestigious list of Internet buddies?  Send me an <a href="mailto:alex@reckerfamily.com">email</a></em></p>
			</div>
		</div><hr>
	</div>

	<!-- Friends -->
	<div class="container-fluid projects-body">
		<div class="row">
			{% for friend in data %}
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <a href="{{ friend.link }}"><img src="/static/img/friends/{{ friend.image }}" ></a>
		      <div class="caption">
		        <h3>{{ friend.title }}</h3>
		        <p><em>{{ friend.subtitle }}</em></p>
		      </div>
		    </div>
		  </div>
		    {% endfor %}
		</div>
	</div>
{% endblock %}
