{% extends "base.html" %}

{% block meta_title %}
<title>Friends | Blog by Alex Recker</title>
{% endblock %}

{% block body %}
	<!-- Heading -->
	<div class="container-fluid section-heading">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">My Internet buddies</h4>
				<p><em>Won't you be my neighbor?</em></p>
			</div>
		</div><hr>
	</div>

	<!-- Friends List -->
	<div class="container-fluid thumbnail-body">
		<div class="row">
			{% for friend in collection %}
			<div class="col-md-6">
				<div class="media">
					<a class="pull-left" href="{{ friend.link }}">
						<img class="media-object" src="/static/img/friends/{{ friend.image }}"/>
					</a>
					<div class="media-body">
						<h4 class="media-heading">{{ friend.title }}</h4>
						<p>{{ friend.subtitle }}</p>
					</div>
				</div>	
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
