{% if image %}
<header class="intro-header" style="background-image: url({{ image }})">
{% else %}
{% load static %}
<header class="intro-header" style="background-image: url('{% static 'img/black.jpg' %}')">
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if post %}
        <div class="post-heading">
          <h1>{{ heading }}</h1>
          <h2 class="subheading">
            {{ subheading }}
          </h2>
          <span class="meta">{{ date | date }}</span>
        </div>
        {% else %}
        <div class="site-heading">
          <h1>{{ heading }}</h1>
          <hr class="small">
          <span class="subheading">{{ subheading }}</span>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
