{% extends "base.html" %}
{% block body %}
	<div class="container-fluid main">

		<div class="container-fluid banner">
			<figure class="image">
				<img src="http://media.alexrecker.com/images/portrait.jpg" class="img-circle" alt="">
			</figure>
			<h1>Blog by Alex</h1>
			<h1>Recker</h1>
		</div>

		<hr class="fancy">

		<div class="container-fluid">
			<div class="page-header">
				{% if data.latest.image %}
				<figure class="image">
					<a href="/{{ data.latest.link }}">
						<img src="{{ data.latest.image }}" height="100px">	
					</a>
				</figure>
				{% endif %}
				<h1 class="lead">
					<a href="{{ data.latest.link }}">{{ data.latest.title }}</a>
					<small class="pull-right">{{ data.latest.date.strftime("%B %d, %Y") }}</small>
				</h1>
				<p>{{ data.latest.description }}</p>
			</div>
		</div>

		<div class="container-fluid">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-search"></i>
				</span>
				<input id="filter" class="form-control" type="text" placeholder="Filter" onkeyup="Filter(this)" size="10"/>
			</div>
			<br>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>
					{% for post in data.posts %}
						<a href="{{ post.link }}">{{ post.title }}</a> 
						<span> | </span> 
					{% endfor %}
					</p>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
{% block footer %}
{% endblock %}