{% extends "base.html" %}
{% block meta %}
    <title>{{ post.Meta_title}}</title>
    <meta name="description" content="{{ post.Meta_description }}">
    <link rel="canonical" href="{{ post.Meta_canonical }}">
{% endblock %}
{% block post-title %}
{% endblock %}
{% block post-content %}{% autoescape off %}
    <div id="post-body">
        <div class="row">
            {% for headline in headlines %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="headline-image" src="{{ headline.Thumbnail }}">
                    <div class="caption">
                        <h3><a href="{{ headline.Link }}">{{ headline.Title}}</a></h3>
                        <p>{{ headline.Description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endautoescape %}{% endblock %}
