{% extends "base.html" %}

{% block meta_title %}
<title>{{ Post.title }} | Blog by Alex Recker</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ Post.description }}">
{% endblock %}

{% block meta_og_image %}
<meta property="og:image" content="http://alexrecker.com/static/img/{{ Post.body.banner }}"/>
{% endblock %}

{% block meta_canonical %}
<link rel="canonical" href="http://alexrecker.com/{{ Post.link }}">
{% endblock %}

{% block body %}
    <!-- Facebook Comments Crap -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1479698765577737";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

	<!-- Post Title -->
	<div class="container-fluid post-title-body">
		<div class="page-header">
			<h2>{{ Post.title }}</h2>
			<h4>{{ Post.date }}</h4>
			<div class="row">
			<div class="col-md-12">
				<div class="thumbnail">
				<img class="img-responsive" src="{{ Post.body.banner}}">
			</div>
			</div>
		</div>
		</div>
	</div>

	<!-- Post Body -->
	<div class="container-fluid post-body">
		{{ Post.body.text }}
	</div>

	<!-- Post Comments -->
	<div class="container-fluid comments-body">
        <h3>Comments</h3>
        <div class="fb-comments container-fluid" data-href="http://alexrecker.com/{{ Post.link }}/" data-numposts="20" data-colorscheme="light"></div>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/libs/jquery.min.js"></script>
<script type="text/javascript" src="/static/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/analytics.js"></script>
<script type="text/javascript" src="/static/libs/abigimage.min.js"></script>
<script>
	$(document).ready(function()
	{
		$('.thumbnail').find('a').abigimage();
	})
</script>
{% endblock %}