{% extends "base.html" %}
{% block main %}
<div class="page-header">
	<h1 class="fancy">{{ post.title }} <small class="fancy">{{ post.date }}</small></h1>
	<p class="fancy">{{ post.description }}</p>
</div>
<div class="post-body">
	{{ post.body | safe }}
</div>
<hr>
<div class="text-center">
	<div class="btn-group">
	  <a href="/" type="button" class="btn btn-default fancy"><i class="fa fa-home"></i> Home</a>
	  <a role="button" data-toggle="modal" data-target="#followModal" class="btn btn-default fancy"><i class="fa fa-bell"></i> Follow</a>
	  <a role="button" href="mailto:alex@reckerfamily.com" class="btn btn-default fancy"><i class="fa fa-envelope"></i> Email</a>
	</div>
</div>
<hr class="fancy">
<div class="comments">
	<div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1479698765577737";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
	<div class="page-header">
		<h1 class="fancy">Comments</h1>
	</div>
	<div class="container-fluid">
		<div class="fb-comments container-fluid" data-href="http://alexrecker.com/{{ post.link }}/" data-numposts="20" data-colorscheme="light"></div>
		</div>
	</div>
</div>
{% endblock %}