{% extends "base.html" %}
{% block main %}

<div class="page-header">
	{% if data.image %}
	<img src="{{ data.image }}" width="200px" />
	{% endif %}
	<h1>{{ data.title }}</h1>
	<p>
		{{ data.description }}
	</p>
	<p>
		{{ data.date_pretty }} 
	</p>
</div>

<div class="post-body">
	{{ data.body | safe }}	
</div>

<div class="page-header">
	<h1 class="lead">Comments</h1>
</div>

<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1479698765577737";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="page-header">
		<h1 class="fancy">Comments</h1>
	</div>
	<div class="container-fluid">
		<div class="fb-comments container-fluid" data-numposts="20" data-colorscheme="light" data-href="http://alexrecker.com/{{ data.link }}/"></div>
		</div>
	</div>
    
{% endblock %}