{% extends "base.html" %}

{% block meta_title %}
<title>Projects | Blog by Alex Recker</title>
{% endblock %}

{% block meta_description %}
<meta name="description" content="Help yourself to some home-grown software made fresh from my kitchen.">
{% endblock %}

{% block body %}
	<!-- Heading -->
	<div class="container-fluid">
		<div class="media">
			<a class="pull-left" href="http://github.com/arecker">
				<img class="media-object" src="/static/img/github.png" title="Fork me on GitHub, man"/>
			</a>
			<div class="media-body">
				<h4 class="media-heading">Help yourself to some home-grown software.</h4>
				<p><em>Always open source and made from fresh ingredients</em></p>
                <p>Seriously.  Even the <a href="https://github.com/arecker/Blog">code for this site </a>is just hanging out there.</p>
			</div>
		</div><hr>
	</div>

	<!-- Projects -->
	<div class="container-fluid projects-body">
		<div class="row">
			{% for project in collection %}
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <a href="{{ project.link }}"><img src="/static/img/projects/{{ project.image }}" ></a>
		      <div class="caption">
		        <h3>{{ project.title }}</h3>
		        <p><em>{{ project.subtitle }}</em></p>
		        <p>{{ project.caption }}</p>
		      </div>
		    </div>
		  </div>
		    {% endfor %}
		</div>
	</div>
{% endblock %}
