<!doctype html>
<html lang="en">
  {% include head.html page=page %}
  <body>
    {% include header.html page=page %}
    <hr/>
    {% include nav.html page=page %}
    <hr/>
    {% if page.banner %}
    {% include figure.html filename=page.banner %}
    {% endif %}
    {{ content }}
    {% if page.next or page.previous %}
    {% include pager.html page=page %}
    {% endif %}
    <hr/>
    {% include footer.html config=config git=git year=year last_updated=last_updated %}
    <!-- include ga.html -->
  </body>
</html>
