<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }} | {{ page.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ config.twitter_handle }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.description }}" />
    {%- if page.image_url %}
    <meta name="twitter:image" content="{{ page.image_url }}"/>
    <meta property="og:image" content="{{ page.image.url }}"/>
    {% endif %}
    <link href="/assets/site.css" rel="stylesheet"/>
  </head>
  <body>
    <!-- include header.html title=page.title subtitle=page.description -->
    <hr/>
    <nav data-proofer-ignore>
      {%- assign menu = 'archives.html, stats.html, contact.html' | split: ', ' %}
      {%- if page.file == "index.html" %}
      <a href="/">index.html</a>
      {%- else %}
      <a href="/">index.html</a>
      <span> / </span>
      <span>{{ page.file }}</span>
      {%- endif %}
      <span class="float-right hide-on-mobile">
	{%- for page in menu %}
	<a href="/{{ page }}">{{ page }}</a>
	{%- endfor %}
      </span>
      <span class="show-on-mobile">
	{%- for page in menu %}
	<a href="/{{ page }}">{{ page }}</a>
	{%- endfor %}
      </span>
    </nav>
    <hr/>
    {{ content }}
    <hr/>
    <footer>
      <small>Last Updated: {{ site.last_updated }}</small>
      <small>
	Powered by <a href="https://github.com/arecker/blog">blog</a> (<a class="code" href="https://github.com/arecker/blog/tree/{{ site.HEAD }}">{{ site.shorthead }}</a>)
      </small>
      <small>&copy; Copyright {{ site.year }} {{ config.author }}</small>
    </footer>
    <!-- include ga.html -->
  </body>
</html>
