{%- capture is_post %}{% if page.path contains '_posts' %}yes{% endif %}{%- endcapture -%}
<!doctype html>
<html lang="en">
  <head>
    {%- include head.html -%}
    <title>{{ site.title }} | {{ page.title }}</title>
  </head>
  <body>
    {%- include nav.html here="index.html" -%}
    <div class="ui container {% if is_post == 'yes' %}text{% endif %}">
      {{ content }}
      {% if is_post == 'yes' %}
      <div class="ui fluid two borderless  menu">
	{%- if page.next -%}
	<a href="{{ page.next.url }}" class="left item">
	  <i class="angle left icon"></i> {{ page.next.excerpt }}
	</a>
	{%- endif -%}
	{%- if page.previous -%}
	<a href="{{ page.previous.url }}" class="right item">
	  {{ page.previous.excerpt }} <i class="angle right icon"></i>
	</a>
	{%- endif -%}
      </div>
      {% endif %}
    </div>
    {% include ga.html %}
  </body>
</html>
