<!doctype html>
<html>
  <head lang="en">

    {% set title = page.title or site.title %}
    {% set subtitle = page.subtitle or site.subtitle %}
    <title>{{ title }} | {{ subtitle }}</title>

    <!-- page metadata -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="{{ title }}" name="twitter:title" />
    <meta content="{{ subtitle }}" name="twitter:description" /
    <meta content="article" property="og:type" />
    <meta content="https://{{ site.domain }}/{{ page.filename }}" name="og:url" />
    <meta content="{{ title }}" property="og:title" />
    <meta content="{{ subtitle }}" property="og:description" />
  </head>

  <article>
    <!-- site banner -->
    <header>
      <h1>{{ site.title }} <small>{{ site.subtitle }}</small></h1>
    </header>
  </article>
</html>
